*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  color: #80b3d2;
}
a:active {
  color: #766357;
}
.wrapper {
  position: relative;
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 20px silver;
}
.site-navigation,
.site-navigation a {
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}
.site-navigation a:hover {
  color: #81b3d2;
}
.site-navigation a:focus {
  outline: 2px dotted #81b3d3;
  outline-offset: 4px;
}
.site-navigation a:active {
  color: #b2b2b2;
}
.menu-current {
  color: #766357;
}
.site-navigation,
.features {
  margin: 0;
  padding: 0;
  list-style: none;
}
.index-main {
  text-align: center;
}
.welcome {
  min-height: 508px;
  padding-top: 77px;
  background-color: #d8e8f0;
  background-image:
    url(../img/polygon.svg),
    url(../img/welcome-bg.jpg);
  background-position:
    center bottom,
    50% 21%;
  background-repeat: no-repeat;
}
.reason-1,
.reason-2 {
  color: #ffffff;
  background-color: #82b3d3;
}
.reason-1-photo {
  color: #ffffff;
  background-color: #b0bea8;
}
.reason-2-photo {
  color: #ffffff;
  background-color: #dca98e;
}
.reason-1-photo img,
.reason-2-photo img {
  display: block;
  height: 100%;
  width: auto;
}
.reason-3,
.reason-4,
.reason-5 {
  background-color: #eeeeee;
  padding-top: 26px;
  padding-bottom: 45px;
}
.map {
  background-color: #f2f1ef;
  overflow: hidden;
}
.map img {
  display: block;
}
.intro p:first-child {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 27px;
}
.reason-1 h3,
.reason-2 h3 {
  font-size: 21px;
  line-height: 21px;
  margin-top: 48px;
  margin-left: 25%;
  margin-right: 25%;
}
.reason-1 p,
.reason-2 p,
.feature-1 p,
.feature-2 p,
.feature-3 p {
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 17px;
  margin-bottom: 28px;
  line-height: 21px;
}
.reason-3 p,
.reason-4 p,
.reason-5 p {
  margin-top: 17px;
  margin-left: 17%;
  margin-right: 17%;
  line-height: 22px;
}
.features h4 {
  margin-bottom: 25px;
}
.features h4,
.reason-3 h3,
.reason-4 h3,
.reason-5 h3 {
  font-size: 21px;
  line-height: 21px;
  padding-left: 30%;
  padding-right: 30%;
}
.hotel-search {
  position: relative;
  font-weight: bold;
}
.childrens-label {
  margin: 0 25px 0 56px;
}
.hotel-search-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 22px;
}
.hotel-search-text {
  font-weight: normal;
}
.form-hotels {
  position: absolute;
  left: 50%;
  margin-left: -285px;
  /*transform: translateX(-50%);
    transform: translateX(-285px);*/
  width: 570px;
  background-color: #ffffff;
  box-shadow: 0 0 25px #bbbbbb;
  padding: 25px 54px 32px 56px;
}
.form-hotels p {
  position: relative;
  margin-top: 30px;
}
.form-hotels label {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 14px;
  width: 105px;
  margin-top: 5px;
}
.form-hotels input::placeholder {
  color: #000000;
  opacity: 1;
}
.form-hotels input[type="text"] {
  display: inline-block;
  vertical-align: top;
  width: 348px;
  height: 38px;
  padding: 0 12px;
  font: inherit;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
}
.container-buttons {
  font-size: 0;
  margin: 0;
  padding: 0;
}
.container-buttons span {
  display: inline-block;
  vertical-align: top;
  width: 352px;
}
.container-buttons label {
  margin: 5px 0 0 0;
  padding: 0;
}
.right-container label {
  margin: 5px 15px 0 53px;
  padding: 0;
  width: 48px;
}
.form-hotels input.adults-number,
.form-hotels input.childrens-number {
  width: 44px;
  padding-left: 18px;
}
.btn-calendar {
  position: absolute;
  top: 8px;
  right: 11px;
  width: 21px;
  height: 22px;
  font-size: 0;
  background-color: #f2f2f2;
  background-image: url(../img/calendar.svg);
  border: none;
  opacity: 0.3;
}
.btn-calendar:hover,
.btn-calendar:focus {
  opacity: 1;
  outline: none;
}
.btn-calendar:active {
  background-image: url(../img/calendar-hover.svg);
}
.btn {
  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;

  color: #ffffff;
  background-color: #888888;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;

  border: none;
}
.btn-hotels-popup {
  position: relative;
  z-index: 2;
  background-color: #766257;
  height: 87px;
  width: 570px;
  margin-top: 30px;
  margin-bottom: 0;
}
.btn-hotels-popup:hover {
  background-color: #604e44;
}
.btn-hotels-popup:focus {
  background-color: #604e44;
  outline: 2px dotted #604e44;
  outline-offset: 4px;
}
.btn-hotels-popup:active {
  background-color: #503e32;
}
.btn-search-form {
  background-color: #82b3d3;
  width: 457px;
  min-height: 58px;
  margin-top: 53px;
  margin-bottom: 22px;
}
.btn-search-form:hover {
  background-color: #669ebf;
}
.btn-search-form:focus {
  background-color: #669ebf;
  outline: 2px dotted #669ebf;
  outline-offset: 4px;
}
.btn-search-form:active {
  background-color: #5596be;
  color: #88b6d1;
}
.btn-less,
.btn-more {
  position: relative;
  width: 36px;
  height: 38px;
  text-indent: -9999px;
  border: none;
  background-color: #f2f2f2;
}
.btn-less::before,
.btn-more::before {
  content: "";
  position: absolute;
  left: 14px;
  top: 18px;
  background-color: #a9a9a9;
  width: 11px;
  height: 3px;
}
.btn-more::after {
  content: "";
  position: absolute;
  left: 18px;
  top: 14px;
  background-color: #a9a9a9;
  width: 3px;
  height: 11px;
}
.btn-less:hover::before,
.btn-more:hover::before,
.btn-more:hover::after,
.btn-less:focus::before,
.btn-more:focus::before,
.btn-more:focus::after {
  background-color: #000000;
}
.btn-less:active::before,
.btn-more:active::before,
.btn-more:active::after {
  background-color: #82b3d3;
}
.footer-hashtag a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
.footer-social {
  font-size: 0;
}
.footer-social a {
  display: inline-block;
  vertical-align: bottom;
  width: 46px;
  height: 48px;
  margin: 3px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: 50%;
  font-size: 0;
}
.footer-social a:hover,
.footer-social a:focus {
  background-color: #669ebf;
}
.footer-social a:active {
  background-color: #5596be;
}
.social-tw {
  background-image: url(../img/social-tw.svg);
}
.social-fb {
  background-image: url(../img/social-fb.svg);
}
.social-yt {
  background-image: url(../img/social-yt.svg);
}
.developer {
  display: inline-block;
  vertical-align: bottom;
  width: 115px;
  height: 45px;
  font-size: 0;
  background-image: url(../img/logo-htmlacademy.svg);
  background-repeat: no-repeat;
  margin-left: 5px;
  margin-top: 3px;
}
.developer:hover,
.developer:focus {
  background-image: url(../img/logo-htmlacademy-2.svg);
}
.developer:active {
  background-image: url(../img/logo-htmlacademy-3.svg);
}
.modal-show {
  display: block;
}
.modal-hide {
  display: none;
}
.filters {
  background-image: url(../img/hotels-bg.jpg);
  background-size: cover;
  background-position: 0 -270px;
  color: #ffffff;
  background-color: #3e698b;
  padding-top: 26px;
  padding-bottom: 8px;
}
.checkboxes legend {
  margin-bottom: 10px;
}
.checkboxes label {
  position: relative;
  display: block;
  padding: 8px 0 12px 40px;
}
.form-search button:focus,
.checkboxes input:focus + label {
  outline: 2px dotted white;
  outline-offset: 3px;
}
.set-1 {
  margin-left: 62px;
  /* margin-left: 5%; */
}
.set-2 {
  margin-left: 96px;
  /* margin-left: 8%; */
}
.checkboxes input[type=checkbox]+label::before {
  content: "";
  position: absolute;
  display: block;
  top: 10px;
  left: 0;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-image: url(../img/checkbox-off.svg);
}
.checkboxes input[type=checkbox]:checked+label::before {
  width: 27px;
  background-image: url(../img/checkbox-on.svg);
}
.checkboxes input[type=checkbox]:disabled+label::before,
.checkboxes input[type=checkbox]:checked:disabled+label::before {
  opacity: 0.5;
}
.form-search legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}
.cost-min,
.cost-max {
  width: 50px;
  background-color: transparent;
  border: none;
  color: white;
}
.cost-min {
  margin-right: 72px;
}
.inputs-border {
  position: relative;
  width: 318px;
  height: 36px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  margin: 6px 0;
  padding: 3px 0 4px 65px;
}
.inputs-border::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 6px;
  display: block;
  width: 2px;
  height: 20px;
  background-color: #ffffff;
}
.btn-search {
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 6px 38px 5px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.btn-search:hover,
.btn-search:focus {
  background-color: #ffffff;
  color: #000000;
}
.range {
  position: relative;
  width: 320px;
  height: 2px;
  background-color: rgba(255,255,255,0.3);
  margin: 20px 0;
}
.range-selected {
  position: relative;
  width: 270px;
  height: 2px;
  background-color: rgba(255,255,255,0.9);
  margin: 20px 0;
}
.range-min {
  position: absolute;
  left: 0;
  top: 1px;
  background-color: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
}
.range-max {
  position: absolute;
  left: 255px;
  top: 1px;
  background-color: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
}
.range-min:hover,
.range-max:hover {
  width: 22px;
  height: 22px;
}
.range-min:hover::before,
.range-max:hover::before {
  width: 6px;
  height: 6px;
}
.range-min::before,
.range-max::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #888888;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}
.results-founded,
.results-founded-num {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 30px 0;
}
.results-sorting {
  position: relative;
  padding: 30px 40px 30px 72px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 12px;
  line-height: 18px;
}
.results-sorting-header {
  margin-left: 47px;
  margin-right: 35px;
}
.sorting-type {
  font-size: 12px;
  line-height: 18px;
}
.sorting-direction {
  position: absolute;
  right: 75px;
  top: 35px;
}
.sorting-direction li {
  margin-left: 8px;
}
.sorting-type,
.sorting-direction {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sorting-type a {
  margin-right: 30px;
}
.sorting-type a {
  color: #cacaca;
  border-bottom: 1px dotted #cacaca;
}
.sorting-type-current a {
  color: #81b3d4;
  border-bottom: none;
}
.sorting-asc,
.sorting-desc {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  color: #cacaca;
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
}
.sorting-direction-current a::before {
    color: #80b3d2;
}
.sorting-direction a:hover,
.sorting-direction a:active {
  color: #231f20;
}
.sorting-asc::before {
  content: "\25B2";
  display: block;
  font-size: 15px;
  margin-top: 2px;
}
.sorting-desc::before {
  content: "\25BC";
  display: block;
  font-size: 15px;
}
.result-item-image {
  margin-right: 30px;
  margin-bottom: 22px;
}
.result-item-description > a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
.result-item-description > a:hover,
.result-item-description > a:focus {
  color: #81b3d2;
}
.result-item-description > a:active {
  color: #cacaca;
}
.btn-details {
  display: inline-block;
  vertical-align: top;
  background-color: #82b3d3;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 17px;
  margin-right: 2px;
  max-width: 110px;
}
.btn-details:hover,
.btn-details:focus {
  background-color: #669ebf;
  color: #ffffff;
}
.btn-details:active {
  background-color: #5596be;
  color: #81b3d2;
}
.btn-reserve {
  display: inline-block;
  vertical-align: top;
  background-color: #766257;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 17px;
  max-width: 150px;
}
.btn-reserve:hover,
.btn-reserve:focus {
  background-color: #604e44;
  color: #ffffff;
}
.btn-reserve:active {
  background-color: #503e33;
  color: #857871;
}
.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 0;
}
.logo:focus {
  outline: 2px dotted #81b3d3;
}
.site-navigation {
  display: flex;
  justify-content: space-between;
}
.site-navigation > li {
  margin-top: 14px;
  margin-bottom: 16px;
  width: 20%;
  text-align: center;
}
.site-navigation > li:nth-child(2) {
  margin-right: 20%;
}
.advantages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.intro {
  width: 100%;
  padding-bottom: 37px;
  padding-left: 25%;
  padding-right: 25%;
}
.reason-1,
.reason-2,
.reason-3,
.reason-4,
.reason-5,
.feature-1,
.feature-2,
.feature-3 {
  width: 33.333333%;
}
.reason-1-photo,
.reason-2-photo {
  width: 66.666666%;
  overflow: hidden;
}
.features {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
}
.page-footer > div {
  width: 33.333333%;
  text-align: center;
}
.index-footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(255,255,255,0.85);
}
.footer-copyright {
  line-height: 50px;
}
.form-search {
  display: flex;
  justify-content: space-around;
}
.form-search fieldset {
  border: none;
}
.form-search fieldset:last-of-type {
  margin-left: auto;
  margin-right: 60px;
}
.sorting-type,
.sorting-type li,
.sorting-direction,
.sorting-direction li {
  display: inline-block;
  vertical-align: baseline;
}
.result-item {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 30px;
  padding-left: 72px;
}
.result-item-description {
  flex-grow: 1;
}
.result-item-description h3 {
  margin: 0;
  margin-top: -3px;
  font-size: 21px;
  line-height: 21px;
}
.result-item-description p {
  margin: 7px 0 12px;
}
.result-item-description span {
  display: inline-block;
  vertical-align: top;
  min-width: 112px;
}
.result-item-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 72px;
  margin-bottom: 30px;
}
.rating-img {
  width: 24px;
  height: 17px;
  background-image: url(../img/star.png);
}
.rating-1 {
  width: 24px;
}
.rating-2 {
  width: 48px;
}
.rating-3 {
  width: 72px;
}
.rating-4 {
  width: 96px;
}
.rating-5 {
  width: 120px;
}
.rating-num {
  background-color: #f2f2f2;
  color: #888888;
  padding-right: 13px;
  padding-left: 13px;
}
.features li::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  margin: 46px auto -13px;
  background-repeat: no-repeat;
  background-position: 50%;
}
.feature-1::before {
  background-image: url(../img/icon-1.svg);
}
.feature-2::before {
  background-image: url(../img/icon-2.svg);
}
.feature-3::before {
  background-image: url(../img/icon-3.svg);
}
.features li {
  padding-bottom: 53px;
}
